{% extends "base.html" %}
{% block content %}
<div id="content">
  <div class="container">
    <div class="program-container">
      <article>
        <h1 class="headline">Sign Up For Free 5 Day Healthy Recipe Guide!</h1>
        <p>This program includes:</p>
        <ul>
          <li>Bento box recipes</li>
          <li>Breakfast pastries</li>
          <li>How to pack lunch for work</li>
          <li>How to pack lunch for kids</li>
          <li>Quick recipe for natural sweet desserts</li>
        </ul>

        <h2 class="title">Join now and recieve 100% value</h2>

        <a href="">Get It Today!</a>

        <p>When you will sign now for free, you will also get access to:</p>
        <ul>
          <li>Free subscription to all of our recipes</li>
          <li>Free 40+ recipe videos</li>
          <li>Get to know in advance what we are making next</li>
          <li>Support and tips for your own recipes</li>
          <li>Participation in our live events</li>
          <li>And much more!</li>
        </ul>

        <a href="">Join Now!</a>

        <h3 class="title">Is This The Program For You?</h3>
        <p>This program should be perfect for you if:</p>
        <ul>
          <li>You struggle making food by your own</li>
          <li>You never find the time to make food</li>
          <li>You find yourself eating out, while you deserved healthy natural food</li>
          <li>Your kids complain about the food at school</li>
          <li>You want to make a transformation in your diet</li>
        </ul>

        <a href="">Yes! I want to join for free</a>

        <p>These are the <strong>exact</strong> recipes and the <strong>exact</strong> methods that featured in <em>Peasch is a Holiday</em>.</p>
        <p>You will see the <strong>exact</strong> ingredients and tools that has been used in <em>Peasch is a Holiday</em>.<p>

      </article>

      <div id="widgetProgramEnrollmentForm" class="widget form">
    </div>
  </div>
</div>
{% endblock %}
