<aside id="sidebar">

  <div class="widget about">
    <h4 class="title">Peasch Is A Holiday</h4>
    <img src="/static/images/avatar.jpg" />
    <div class="description rtl">
      <p>מתכונים טעימים לשבתות, חגים ויום-יום בשידור ישיר מהמטבח שלנו. הצטרפו לקהילה שלנו, למדו ושתפו מתכונים טעימים ובריאים.</p>
    </div>
  </div>

  <div class="widget">
    <h4 class="title">Follow Us</h4>
    <p>Get to know us on social media.</p>
    <ul class="social-icons">
      <li>
        <a href="https://www.youtube.com/channel/UCNHENYzY6rctjtZP_Gn3avw" target="_blank" onclick="ga('send', 'event', 'SidebarSocialLink', 'click', 'YouTube');">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="https://vine.co/u/1334742438115475456" target="_blank" onclick="ga('send', 'event', 'SidebarSocialLink', 'click', 'Vine');">
          <i class="fa fa-vine"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/pesachis" target="_blank" onclick="ga('send', 'event', 'SidebarSocialLink', 'click', 'Twitter');">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.pinterest.com/Pesachis/" target="_blank" onclick="ga('send', 'event', 'SidebarSocialLink', 'click', 'Pinterest');">
          <i class="fa fa-pinterest"></i>
        </a>
      <li>
        <a href="https://www.facebook.com/Pesach-is-a-Holiday-1631068010549439" target="_blank" onclick="ga('send', 'event', 'SidebarSocialLink', 'click', 'Facebook');">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="http://pesachis.tumblr.com" target="_blank" onclick="ga('send', 'event', 'SidebarSocialLink', 'click', 'Tumblr');">
          <i class="fa fa-tumblr"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/pesachis/" target="_blank" onclick="ga('send', 'event', 'SidebarSocialLink', 'click', 'Instagram');">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>

  <div id="widgetSubscriptionForm" class="widget form">
    <h3 class="title">Loading Subscribption Form</h3>
    <p>Recieve new recipes to your inbox and get notified when there is something good that happens.</p>
    <form action="" method="post">
      <fieldset>
        <div class="field">
          <input type="text" placeholder="Full name" />
        </div>
        <div class="field">
          <input type="email" placeholder="username@email.com" />
        </div>
        <div class="actions">
          <input type="submit" value="Subscribe" />
        </div>
      </fieldset>
    </form>
  </div>

</aside>
<!-- end sidebar -->
