{% extends "base.html" %}
{% block content %}
<section>
  <div class="container">
    <div class="headline">
      <h3 class="title">Featured Recipes</h3>
    </div>
    <div class="posts-thumbnails">

      {% for recipe in recipes %}
      <div class="post-thumbnail">
        <div class="picture">
          <a href="/recipes/{{recipe.slug}}">
            <img src="{{ recipe.picture }}" />
          </a>
        </div>
        <h4 class="title">
          <a href="/recipes/{{recipe.slug}}">
            {{ recipe.title }}
          </a>
        </h4>
        <time class="date">
          <a href="/recipes/{{recipe.slug}}">{{recipe.created_at}}</a>
        </time>
      </div>
      {% endfor %}

    </div>
    <!-- end post-thumbnails -->

  </div>
</section>
<!-- end section -->
{% endblock %}
