{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<div id="content">
  <div class="container">
    <div id="main-content" class="main-content" role="main">
      <div class="index">
        {% for recipe in recipes %}
        <article id="post-{{recipe.id}}" class="post entry">
          <div class="thumbnail">
            <a href="/recipes/{{recipe.slug}}" title="{{recipe.title}}">
              <img src="http://www.pesachisaholiday.com/assets/uploads/{{ recipe.meta_value }}" alt="{{recipe.title}}" title="{{recipe.title}}" sizes="(max-width: 360px) 100vw, 360px" />
            </a>
          </div>
          <div class="thumbnail-description">
            <h3 class="title">
              <a href="/recipes/{{recipe.slug}}">{{recipe.title}}</a>
            </h3>
            <div class="meta">
              <p>By <strong>RyeBlossom</strong> on <strong>{{recipe.post_date_gmt|date:'F d, Y'}}</strong> | <span class="category"><a href="/recipes/">Recipes</a></span></p>
            </div>
            <div class="description">
              <p>{{recipe.description}}</p>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
      <nav class="pagination">
        <ul>
          <li class="prev">
              {% if previous_page == page %}
              <span class="page-numbers current">Previous</span>
              {% else %}
              <a class="page-numbers" href="/recipes?page={{ previous_page }}">Previous</a>
              {% endif %}
          </li>
          <li>
            <ul>
              {% for i in '1234' %}
                <li>
                  {% if i == page %}
                  <span class="page-numbers current">{{i}}</span>
                  {% else %}
                  <a class="page-numbers" href="/recipes?page={{ i }}">{{i}}</a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
          <li class="next">
            {% if next_page == page %}
            <span class="page-numbers current">Next</span>
            {% else %}
            <li class="page-numbers">
              <a class="next page-numbers" href="/recipes?page={{ next_page }}">Next</a>
            </li>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
    {% include "recipes/_sidebar.html" %}

  </div>
</div>
{% endblock %}
