{% extends "base.html" %}
{% block title %}{{title}}{% endblock%}
{% block meta_tags %}
<meta name="description" content="{{recipe.description}}" />
<meta property="og:site_name" content="Pesach Is A Holiday" />
<meta property="og:title" content="{{recipe.title}}" />
<meta property="og:description" content="{{recipe.description}}" />
<meta property="og:image" content="http://www.pesachisaholiday.com/assets/uploads/{{ recipe.meta_value }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@pesachis" />
<meta name="twitter:creator" content="@pesachis" />
{% endblock %}
{% block content %}
<div id="content">
  <div class="container">

    <div class="main-content" role="main">

      <article class="post single" itemprop="mainEntity" itemscope itemtype="http://schema.org/Recipe">
        <h1 class="title" itemprop="name">{{recipe.title}}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li>
              <a href="/">Peasch is a Holiday</a>
            </li>
            <li>
              <a href="/recipes">Recipes</a>
            </li>
          </ol>
        </nav>
        <div class="picture">
          <img src="http://www.pesachisaholiday.com/assets/uploads/{{ recipe.meta_value }}" alt="{{recipe.title}}" title="{{recipe.title}}" itemprop="image" />
        </div>
        <div class="meta">
              <p>
                  By <strong itemprop="author">Rye</strong>
                  on <strong itemprop="datePublished" content="{{recipe.post_date_gmt | date:'Y-m-d' }}">{{recipe.post_date_gmt | date:'F d, Y' }}</strong>
                  | <span class="category">
                      <a href="/recipes">Recipes</a>
                    </span>
              </p>
        </div>
        <h2 class="description" itemprop="description">{{recipe.description}}</h2>
        {{recipe.body|safe}}
      </article>
      <!-- end article -->
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Recipe",
          "author": "Rye",
          "cookTime": "PT1H",
          "datePublished": "{{recipe.post_date_gmt | date:'Y-m-d' }}",
          "description": "{{recipe.description}}",
          "image": "http://www.pesachisaholiday.com/assets/uploads/{{ recipe.meta_value }}",
          "recipeIngredient": [],
          "interactionStatistic": {},
          "name": "{{recipe.title}}",
          "breadcrumb": "Recipes > {{recipe.title}}",
          "nutrition": {
            "@type": "NutritionInformation",
            "calories": "{{recipe.id}} calories per 100g",
            "fatContent": "10%"
          },
          "warningcookTime": "PT5m",
          "cookTime": "PT5m",
          "prepTime": "PT5M",
          "recipeInstructions": "",
          "recipeYield": "1 loaf",
          "suitableForDiet": "http://schema.org/LowFatDiet",
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5",
            "reviewCount": "{{recipe.id}}"
          }
        }
        </script>
        <!-- end json script -->


      {% include "recipes/rating.html" %}
      {% include "recipes/sharing.html" %}
      <div class="fb-comments" data-href="http://www.pesachisaholiday.com/recipes/{{recipe.slug}}" data-numposts="12"></div>

    </div>
    <!-- end main content -->

    {% include "recipes/_sidebar.html" %}
    <!-- end sidebar -->

  </div>
  <!-- end container -->
</div>
<!-- end content -->

<section>
  <div class="container">
    <div class="headline">
      <h3 class="title">More Recipes</h3>
    </div>
    <div class="posts-thumbnails">
      {%for related_recipe in related_recipes%}
      <div class="post-thumbnail">
        <div class="picture">
        <a href="/recipes/{{related_recipe.slug}}" title="{{related_recipe.title}}">
          <img src="http://www.pesachisaholiday.com/assets/uploads/{{ related_recipe.meta_value }}" alt="{{related_recipe.title}}" title="{{related_recipe.title}}" width="360" height="240" sizes="(max-width: 360px) 100vw, 360px" />
        </a>
        </div>
        <h4 class="title">
          <a href="/recipes/{{related_recipe.slug}}" title="{{related_recipe.title}}">
            {{related_recipe.title}}
          </a>
        </h4>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
<!-- end section -->

{% endblock %}
