{% extends "base.html" %}
{% block content %}
<div id="content">
  <div class="container">

    <div class="main-content" role="main">

      <article class="post single">
        <h1 class="title">{{recipe.title}}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li>
              <a href="/">Peasch is a Holiday</a>
            </li>
            <li>
              <a href="/recipes">Recipes</a>
            </li>
          </ol>
        </nav>
        <div class="picture">
          <img src="http://www.pesachisaholiday.com/assets/uploads/{{ recipe.meta_value }}" alt="{{recipe.title}}" title="{{recipe.title}}" />
        </div>
        <div class="meta">
              <p>
                  By <strong>{{recipe.author}}</strong>
                  on <strong>{{recipe.created_at}}</strong>
                  | <span class="category">
                      <a href="/recipes">Recipes</a>
                    </span>
              </p>
        </div>
        <h2 class="description">{{recipe.description}}</h2>
        {{recipe.body|safe}}
      </article>
      <!-- end article -->

      {% include "recipes/sharing.html" %}
      <div class="fb-comments" data-href="http://www.pesachisaholiday.com/recipes/{{recipe.slug}}" data-numposts="12"></div>

    </div>
    <!-- end main content -->

    <aside id="sidebar">

      <div class="widget about">
        <h4 class="title">Peasch Is A Holiday</h4>
        <img src="/static/images/avatar.jpg" />
        <div class="description rtl">
          <p>מתכונים טעימים לשבתות, חגים ויום-יום בשידור ישיר מהמטבח שלנו. הצטרפו לקהילה שלנו, למדו ושתפו מתכונים טעימים ובריאים.</p>
        </div>
      </div>

      <div class="widget">
        <h4 class="title">Follow Us</h4>
        <p>Get to know us on social media.</p>
        <ul class="social-icons">
          <li>
            <a href="https://www.youtube.com/channel/UCNHENYzY6rctjtZP_Gn3avw" target="_blank">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://vine.co/u/1334742438115475456" target="_blank">
              <i class="fa fa-vine"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/pesachis" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.pinterest.com/Pesachis/" target="_blank">
              <i class="fa fa-pinterest"></i>
            </a>
          <li>
            <a href="https://www.facebook.com/Pesach-is-a-Holiday-1631068010549439" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://pesachis.tumblr.com" target="_blank">
              <i class="fa fa-tumblr"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/pesachis/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>

      <div id="widgetSubscriptionForm" class="widget form">
        <!-- <h3>Subscribe To Our Newsletter</h3> -->
        <h3 class="title">React Will Load Here</h3>
        <p>Recieve new recipes to your inbox and get notified when there is something good that happens.</p>
        <form action="" method="post">
          <fieldset>
            <div class="field">
              <input type="text" placeholder="Full name" />
            </div>
            <div class="field">
              <input type="email" placeholder="username@email.com" />
            </div>
            <div class="actions">
              <input type="submit" value="Subscribe" />
            </div>
          </fieldset>
        </form>
      </div>
    </aside>
    <!-- end sidebar -->

  </div>
  <!-- end container -->
</div>
<!-- end content -->

<section>
  <div class="container">
    <div class="headline">
      <h3 class="title">More Recipes</h3>
    </div>
    <div class="posts-thumbnails">
      {%for related_recipe in related_recipes%}
      <div class="post-thumbnail">
        <div class="picture">
        <a href="/recipes/{{related_recipe.slug}}" title="{{related_recipe.title}}">
          <img src="http://www.pesachisaholiday.com/assets/uploads/{{ related_recipe.meta_value }}" alt="{{related_recipe.title}}" title="{{related_recipe.title}}" width="360" height="240" sizes="(max-width: 360px) 100vw, 360px" />
        </a>
        </div>
        <h4 class="title">
          <a href="/recipes/{{related_recipe.slug}}" title="{{related_recipe.title}}">
            {{related_recipe.title}}
          </a>
        </h4>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
<!-- end section -->

{% endblock %}
