{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}
{%block content%}
<div id="content">
  <div class="container">

    <div id="SearchForm" class="search-form">
      <form action="/search" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
        <fieldset>
          <label for="q">Search The Website</label>
          <input type="text" name="q" id="q" autocomplete="off" placeholder="Healthy, sweet, etc." maxlength="40" itemprop="query-input" />
          <input type="submit" name="submit" value="Search" />
        </fieldset>
      </form>
    </div>
    <!-- end search form -->

    <div class="entries">
      {%if entries%}
      <!-- <header>
        <h1>Search Results</h1>
      </header> -->

      {%for entry in entries%}
      <div class="entry">
        <a href="/recipes/{{entry.slug}}">
          <div class="picture">
            <img alt="{{entry.title}}" title="{{entry.title}}" src="{{entry.picture}}" />
          </div>
          <div class="details">
            <strong class="title">{{entry.title}}</strong>
          </div>
        </a>
      </div>
      {%endfor%}

      {%endif%}
    </div>

    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "http://www.pesachisaholiday.com",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "http://www.pesachisaholiday.com/search?&q={query}",
            "query-input": "required"
          }
      }
      </script>

  </div>
</div>

{%endblock%}
