{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" / />
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {# load cms stylesheets #}
    {% render_block "css" %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% cms_toolbar %}
    <div class="container">
      <ul class="nav">
          {% show_menu 0 100 100 100 %}
      </ul>
      {% block content %}{% endblock content %}
    </div>
    {% render_block "js" %}
  </body>
</html>
