{% extends "base.html" %}
{% load staticfiles %}}
{% block content %}
<div id="banner">
  <div class="container">
    <a href="/recipes">
      <img src="{% static 'images/banner_stream.jpg' %}" alt="{{title}}" title="{{title}}" />
    </a>
  </div>
</div>
<div id="banner">
  <div class="container">
    <a href="http://www.pesachisaholiday.com/recipes">
      <img src="{% static 'images/banner_stream.jpg' %}" />
    </a>
  </div>
</div>
<!-- end banner -->

<section>
  <div class="container">
    <div class="headline">
      <h3 class="title">Featured Recipes</h3>
    </div>
    <div class="posts-thumbnails">

      <div class="post-thumbnail">
        <div class="picture">
          <a href="">
            <img src="images/Post-Thumbnail-2-360x240.jpg" />
          </a>
        </div>
        <h4 class="title">
          <a href="">
            Is This Replacing Makeup? Is This Replacing Makeup?
          </a>
        </h4>
        <div class="date">
          <a href="">November 12th, 2015</a>
        </div>
      </div>

    </div>
    <!-- end post-thumbnails -->

  </div>
</section>
<!-- end section -->

{% endblock %}
