{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div id="content">
  <div class="container">
    <div id="main-content">
      {% placeholder "content" %}
    </div>
    <div id="sidebar">

      <div class="widget about">
        <h4 class="title">Peasch Is A Holiday</h4>
        <img src="images/avatar.jpg" />
        <div class="description rtl">
          <p>מתכונים טעימים לשבתות, חגים ויום-יום בשידור ישיר מהמטבח שלנו. הצטרפו לקהילה שלנו, למדו ושתפו מתכונים טעימים ובריאים.</p>
        </div>
      </div>

      <div class="widget">
        <h4 class="title">Follow Us</h4>
        <p>Get to know us on social media.</p>
        <ul class="social-icons">
          <li>
            <a href="https://www.youtube.com/channel/UCNHENYzY6rctjtZP_Gn3avw">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://vine.co/u/1334742438115475456">
              <i class="fa fa-vine"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/pesachis">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.pinterest.com/Pesachis/">
              <i class="fa fa-pinterest"></i>
            </a>
          </li>
          <li>
            <a href="http://pesachis.tumblr.com">
              <i class="fa fa-tumblr"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/pesachis/">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <!-- <li>
            <a href="">
              <i class="fa fa-facebook"></i>
            </a>
          </li> -->
        </ul>
      </div>

      <div id="widgetSubscriptionForm" class="widget form">
          <!-- <h3>Subscribe To Our Newsletter</h3> -->
          <h3 class="title">React Will Load Here</h3>
          <p>Recieve new recipes to your inbox and get notified when there is something good that happens.</p>
          <form action="" method="post">
            <fieldset>
              <div class="field">
                <input type="text" placeholder="Full name" />
              </div>
              <div class="field">
                <input type="email" placeholder="username@email.com" />
              </div>
              <div class="actions">
                <input type="submit" value="Subscribe" />
              </div>
            </fieldset>
          </form>
        </div>

        {% placeholder "sidebar" %}
    </div>
  </div>
</div>
{% endblock content %}
